{% extends 'base.html' %} {% block content %}

<main class="container py5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officia odit nostrum dolorum eveniet soluta expedita repellendus vel ab? Delectus molestiae qui itaque expedita quod impedit, necessitatibus, aliquid dolore corrupti amet sit? Repellendus
            tempore veritatis beatae eaque modi dolore, doloribus nobis, cumque porro nisi assumenda repudiandae quam explicabo itaque. Sit tenetur, molestiae ipsum earum eius aperiam animi blanditiis corrupti eaque necessitatibus voluptatibus sed voluptatum
            rem laboriosam dolore possimus, odio quasi? Totam vel deleniti culpa iusto quasi odit hic ducimus velit doloremque veniam. Soluta ratione ad modi reprehenderit. Asperiores animi cumque quae nesciunt optio ratione, quidem deserunt, aliquam
            qui quaerat debitis.
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Sign In</a>
            <a class="btn btn-dark" href="/signup/">Sign Up</a>
        </div>
    </section>
</main>
{% endblock %}